<div class="header">
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="content">
  <form class="form" (keydown)="onFormKeyDown($event)">
    <div class="full-width flex-row">
      <mat-form-field class="flex-child">
        <mat-label>Item</mat-label>
        <input matInput #itemKeyInput [disabled]="isEditing" name="item"
               [(ngModel)]="itemKey"
               [matAutocomplete]="auto"/>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredItemKeys | async"
                      [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        <button type="button" *ngIf="isEditing || itemKey !== ''" matSuffix
                mat-icon-button (click)="itemKey=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="full-width flex-row">
      <mat-form-field class="flex-child right-margin">
        <mat-label>Count</mat-label>
        <input #countInput matInput name="count" [(ngModel)]="countString"/>
      </mat-form-field>
      <mat-form-field class="flex-child">
        <mat-label>Type</mat-label>
        <mat-select [(value)]="type" [disabled]="isEditing">
          <mat-option *ngFor="let option of sessionTypeOptions"
                      [value]="option.type">{{option.displayName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div class="footer">
  <button mat-stroked-button *ngIf="isEditing" (click)="save(0)" color="warn">
    Delete
  </button>
  <div class="hfill"></div>
  <p class="key-hint-text right-margin">ctrl + enter</p>
  <button mat-raised-button (click)="save()" color="primary">
    Save
  </button>
</div>
