<div class="container">
  <div class="toolbar">
    <button mat-stroked-button (click)="collapseAll()" class="right-margin">
      <mat-icon>unfold_less</mat-icon>
      Collapse All
    </button>
    <button mat-stroked-button (click)="expandAll()">
      <mat-icon>unfold_more</mat-icon>
      Expand All
    </button>
    <div class="hfill"></div>
    <button mat-stroked-button (click)="newItem()" color="accent">
      <mat-icon>add</mat-icon>
      New Item
    </button>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="filter-bar">
    <mat-icon class="right-margin">search</mat-icon>
    <mat-form-field class="flex-child right-margin">
      <input matInput class="search-input" [(ngModel)]="searchQuery"/>
      <button type="button" *ngIf="searchQuery !== ''" matSuffix
              mat-icon-button (click)="searchQuery=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-button-toggle-group class="right-margin" [(ngModel)]="statusFilter"
                             appearance="legacy">
      <mat-button-toggle value="active">Active</mat-button-toggle>
      <mat-button-toggle value="all">All</mat-button-toggle>
      <mat-button-toggle value="completed">Completed</mat-button-toggle>
    </mat-button-toggle-group>
    <!--    <mat-slide-toggle [(ngModel)]="showActive" class="right-margin"-->
    <!--                      matTooltip="Show Active"-->
    <!--                      matTooltipPosition="above">-->
    <!--      <mat-icon class="toggle-icon">radio_button_unchecked</mat-icon>-->
    <!--    </mat-slide-toggle>-->
    <!--    <mat-slide-toggle [(ngModel)]="showCompleted" class="right-margin"-->
    <!--                      matTooltip="Show Completed"-->
    <!--                      matTooltipPosition="above">-->
    <!--      <mat-icon class="toggle-icon">check_circle</mat-icon>-->
    <!--    </mat-slide-toggle>-->
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="tree-container" #scrollContainer>
    <cdk-virtual-scroll-viewport [itemSize]="itemHeight" minBufferPx="1400"
                                 #scrollViewport
                                 maxBufferPx="1800" class="tree-viewport">
      <div *cdkVirtualFor="let node of dataSource; trackBy:trackByFn"
           [style.padding-left]="getPadding(node)"
           (dragstart)="onNodeDragStart(node, $event)"
           draggable="true"
           class="item">
        <app-item [node]="node" class="item-content"
                  [itemHeight]="itemHeight"
                  [allowChildDrop]="true"
                  (itemDropped)="onItemDropped($event)"
                  (bodyClicked)="openDetails(node.id)">
          <span prefix>
            <button *ngIf="node.expandable"
                    mat-icon-button
                    (click)="treeControl.toggle(node)"
                    [attr.aria-label]="'Toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <button *ngIf="!node.expandable" mat-icon-button disabled>
              <mat-icon></mat-icon>
            </button>
          </span>
          <div suffix>
            <button *ngIf="node.expandable"
                    mat-icon-button
                    matTooltip="Expand/Collapse All"
                    matTooltipPosition="above"
                    (click)="treeControl.toggleDescendants(node)">
              <mat-icon>
                {{treeControl.isExpanded(node) ? 'unfold_less' : 'unfold_more'}}
              </mat-icon>
            </button>
            <button *ngIf="!node.expandable" mat-icon-button disabled>
              <mat-icon></mat-icon>
            </button>
            <button mat-icon-button
                    matTooltip="Delete"
                    matTooltipPosition="above"
                    (click)="removeItem(node)">
              <mat-icon>close</mat-icon>
            </button>
            <button mat-icon-button
                    matTooltip="Add Child"
                    matTooltipPosition="above"
                    (click)="addChildItem(node)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </app-item>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
