<div class="container" appDroptarget [onDragReact]="onDragReact"
     [clearDragReact]="clearDragReact" (drop)="onDrop($event)">
  <div #background class="background"></div>
  <div class="header" [class.is-today]="isToday"
       [class.is-past]="isBeforeToday">
    <div class="header-background" (click)="openDayView()">
      <p class="date no-pointer-event app-single-line-text"
         [class.is-past]="isBeforeToday"
         [class.is-today]="isToday"
         [class.is-start-of-month]="isStartOfMonth">
        {{getDate() | date:getDateFormat()}}
      </p>
    </div>
    <mat-icon class="icon-button" inline (click)="onAddButtonClicked($event)"
              [matMenuTriggerFor]="addMenu">
      add
    </mat-icon>
    <mat-menu #addMenu="matMenu">
      <button mat-menu-item (click)="addCompletedSession()">
        <mat-icon>done</mat-icon>
        Completed Session
      </button>
      <button mat-menu-item (click)="addScheduledSession()">
        <mat-icon>schedule</mat-icon>
        Scheduled Session
      </button>
    </mat-menu>
  </div>
  <div class="progress-bar">
    <div class="progress-bar-filled"></div>
  </div>
  <div class="content">
    <div *ngFor="let session of sessions" class="session"
         [style.background-color]="session.color.fade(0.8).string()"
         [class.container-faded]="session.done"
         [matMenuTriggerFor]="sessionMenu"
         [draggable]="!session.projected"
         (dragstart)="onSessionDragStart($event, session)">
      <div class="color-block"
           [style.background-color]="getChipColor(session)"></div>
      <mat-icon *ngIf="session.itemDone" inline
                class="item-icon">check_circle
      </mat-icon>
      <span class="app-single-line-text"
            [class.faded]="session.done || session.itemDone">
        {{session.item.name}}
      </span>
      <div class="hfill"></div>
      <span>{{session.count}}</span>
      <mat-icon inline class="session-icon">
        {{getSessionTypeIcon(session.type)}}
      </mat-icon>
      <mat-menu #sessionMenu="matMenu">
        <ng-template matMenuContent>
          <button *ngIf="!session.done" mat-menu-item
                  (click)="markSessionComplete(session)">
            <mat-icon>done</mat-icon>
            Change to completed
          </button>
          <button *ngIf="!session.scheduled" mat-menu-item
                  (click)="markSessionScheduled(session)">
            <mat-icon>done</mat-icon>
            Change to scheduled
          </button>
          <button *ngIf="!session.projected" mat-menu-item
                  (click)="editSession(session)">
            <mat-icon>create</mat-icon>
            Edit
          </button>
          <button *ngIf="!session.projected" mat-menu-item
                  (click)="deleteSession(session)">
            <mat-icon>clear</mat-icon>
            Delete
          </button>
          <button mat-menu-item
                  (click)="editItem(session)">
            <mat-icon>tune</mat-icon>
            Edit Item
          </button>
          <button mat-menu-item *ngIf="home"
                  (click)="showInItems(session)">
            <mat-icon>apps</mat-icon>
            Show in items
          </button>
          <button mat-menu-item *ngIf="home && !session.itemDone"
                  (click)="showInQueue(session)">
            <mat-icon>playlist_play</mat-icon>
            Show in queue
          </button>
        </ng-template>
      </mat-menu>
    </div>
  </div>
</div>
