<div class="container">
  <div class="toolbar">
    <button class="right-margin" mat-stroked-button (click)="gotoTodayWeek()">
      Today
    </button>
    <button mat-icon-button
            [matTooltip]="'Previous ' + (viewRange === 'week' ? 'Week' : 'Month')"
            (click)="changeWeek(viewRange === 'week' ? -1 : -4)"
            matTooltipPosition="above">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-icon-button
            [matTooltip]="'Next ' + (viewRange === 'week' ? 'Week' : 'Month')"
            (click)="changeWeek(viewRange === 'week' ? 1 : 4)"
            matTooltipPosition="above">
      <mat-icon>chevron_right</mat-icon>
    </button>
    <p class="right-margin">Week of</p>
    <mat-form-field class="right-margin date-input">
      <input matInput [matDatepicker]="datePicker" disabled
             [value]="weekStartDate"
             (dateChange)="onDateChanged($event)">
      <mat-datepicker-toggle matSuffix [disabled]="false"
                             [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker [disabled]="false"></mat-datepicker>
    </mat-form-field>
    <mat-button-toggle-group [(ngModel)]="viewRange"
                             appearance="legacy">
      <mat-button-toggle value="month">Month</mat-button-toggle>
      <mat-button-toggle value="week">Week</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="hfill"></div>
    <button mat-stroked-button (click)="newItem()" color="accent">
      <mat-icon>add</mat-icon>
      New Item
    </button>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="toolbar">
    <p class="free-time-label">
      Max free time in {{getFreeTimeQuotaPeriod()}} days:
    </p>
    <p class="free-time-text app-single-line-text"
       [class.warning]="freeTimeDepleted"
       [innerHTML]="getFreeTimeHtml()"></p>
    <app-session-chip></app-session-chip>
    <div class="free-time-progress-bar">
      <div class="free-time-progress-bar-fill"
           [style.width]="getFreeTimeProgressValue() * 100 + '%'"></div>
    </div>
    <p class="left-margin free-time-label">Last week daily completion:</p>
    <p class="app-single-line-text">
      <b class="completion-text">
        {{lastWeekDailyCompletion | number:'1.0-1'}}
      </b>
    </p>
    <app-session-chip></app-session-chip>
    <div class="hfill"></div>
    <mat-slide-toggle color="warn" [(ngModel)]="useBackwardStrategy"
                      matTooltip="View Late Strategy"
                      matTooltipPosition="above">
      <div class="flex-row">
        <mat-icon>hourglass_empty</mat-icon>
      </div>
    </mat-slide-toggle>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="dow-header">
    <table class="dow-table">
      <tbody>
      <tr>
        <td class="dow-cell" *ngFor="let d of dowDates">
          {{d | date:'E'}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="content">
    <div *ngFor="let row of rows; trackBy:identity"
         [style.height]="(100 / rows.length) + '%'"
         class="calendar-row">
      <div *ngFor="let column of columns; trackBy:identity"
           [style.width]="(100 / columns.length) + '%'"
           class="calendar-column">
        <app-month-day-view
          #monthDayView
          [home]="home"
          [useBackwardStrategy]="useBackwardStrategy"
          [quota]="getQuota(row, column)"
          [dayID]="getDayIDOfCell(row, column)"
          [todayDayID]="todayDayID"
          [dayData]="getDayData(row, column)"
          [forceDisplayMonth]="shouldDisplayMonth(row, column)">
        </app-month-day-view>
      </div>
    </div>
  </div>
</div>
