.item-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #88888833;
  position: relative;
}

.decoration {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.decoration:hover {
  outline: #4488ff solid 2px;
  outline-offset: -2px;
}

.inner-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.color-block {
  width: 5px;
  height: 100%;
}

.item-body {
  flex: 1;
  margin-right: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  pointer-events: none;
  min-width: 0;
}

.item-name {
  flex: 1;
}

//.checkbox {
//  box-sizing: border-box;
//  border: 3px solid #44aeff88;
//  border-radius: 100%;
//  width: 20px;
//  height: 20px;
//  margin-right: 10px;
//  cursor: pointer;
//}
//
//.checkbox:hover {
//  border-color: #44aeff;
//}
//
//.checked {
//  border-width: 0;
//  background-color: #88888888;
//}
//
//.checked:hover {
//  background-color: #888888;
//}

.right-margin {
  margin-right: 10px;
}

.large-right-margin {
  margin-right: 15px;
}

.checkbox {
  color: #309aea;
  position: relative;
  bottom: 1px;
  right: 2px;
}

.checkbox:hover {
  color: #55bbea;
}

.checked {
  color: #88888899;
}

.checked:hover {
  color: #888888;
}

.faded {
  opacity: 0.75;
}

.is-indirect {
  opacity: 0.5;
}

.container-faded {
  opacity: 0.55;
}

.defer-date-text {
  font-size: 0.75em;
  color: #847ac6;
}

.due-date-text {
  font-size: 0.75em;
  color: #479ec6;
}

.eta-date-text {
  font-size: 0.75em;
  opacity: 0.75;
}

.problem-text {
  font-size: 0.75em;
  font-weight: bold;
}

.warning-lv-1 {
  color: #b78057;
}

.warning-lv-2 {
  color: #db5a5e;
}

.cost-text {
  font-size: 0.95em;
}

.cost-text ::ng-deep b {
  color: #27b727;
}

.text-chip {
  padding: 2px 5px;
  border-radius: 3px;
  background-color: #88888844;
}
