<div class="item-content"
     appDroptarget
     [onDragReact]="onDragReact"
     [clearDragReact]="clearDragReact"
     (drop)="onDrop($event)"
     [style.background-color]="node.color.fade(0.8).string()"
     [class.container-faded]="done">
  <div #decorationContainer class="decoration"
       (click)="onBodyClicked()">
  </div>
  <div class="inner-content">
    <div class="color-block" [style.background-color]="getChipColor()"></div>
    <ng-content select="[prefix]"></ng-content>
    <button mat-icon-button (click)="toggleDone()">
      <mat-icon class="checkbox" [class.checked]="done">
        {{done ? 'check_circle' : 'radio_button_unchecked'}}
      </mat-icon>
    </button>
    <div class="item-body"
         [class.is-indirect]="node.isIndirect && !done"
         [class.faded]="done">
      <span class="item-name app-single-line-text">
        {{node.name}}
      </span>
      <span>{{node.cost}}</span>
      <app-session-chip></app-session-chip>
    </div>
    <ng-content select="[suffix]"></ng-content>
  </div>
</div>
