<div class="item-content"
     appDroptarget
     [onDragReact]="onDragReact"
     [clearDragReact]="clearDragReact"
     (drop)="onDrop($event)"
     [style.background-color]="node.color.fade(0.8).string()"
     [class.container-faded]="done">
  <div #decorationContainer class="decoration"
       (click)="onBodyClicked()"
       (contextmenu)="onContextMenu($event)">
  </div>
  <div style="visibility: hidden; position: absolute; left: 0; top: 0;"
       #contextMenuTrigger
       [matMenuTriggerFor]="contextMenu">
  </div>
  <mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item *ngIf="canShowInItems" (click)="showInItems()">
        <mat-icon>apps</mat-icon>
        Show in items
      </button>
      <button mat-menu-item *ngIf="canShowInQueue && !done"
              (click)="showInQueue()">
        <mat-icon>playlist_play</mat-icon>
        Show in queue
      </button>
      <button mat-menu-item (click)="delete()">
        <mat-icon color="warn">close</mat-icon>
        Delete
      </button>
    </ng-template>
  </mat-menu>
  <div class="inner-content">
    <div class="color-block" [style.background-color]="getChipColor()"></div>
    <ng-content select="[prefix]"></ng-content>
    <button mat-icon-button (click)="toggleDone()">
      <mat-icon class="checkbox" [class.checked]="done">
        {{getCheckBoxIcon()}}
      </mat-icon>
    </button>
    <div class="item-body"
         [class.is-indirect]="node.isIndirect && !done"
         [class.faded]="done">
      <span class="item-name app-single-line-text"
            [class.deferred-name]="deferred && !done">
        {{node.name}}
      </span>
      <span
        class="app-single-line-text defer-date-text right-margin text-chip"
        *ngIf="node.effectiveDeferDate !== undefined && deferred">
        Defer: ({{getEffectiveDeferDateDeltaText()}})
        {{getEffectiveDeferDate() | date:'MMM d'}}
      </span>
      <span
        class="app-single-line-text due-date-text right-margin text-chip"
        [class.warning-lv-2]="overdue"
        *ngIf="node.effectiveDueDate !== undefined">
        Due: ({{getEffectiveDueDateDeltaText()}})
        {{getEffectiveDueDate() | date:'MMM d'}}
      </span>
      <span
        class="app-single-line-text problem-text right-margin text-chip"
        [class.warning-lv-2]="node.problem !== undefined"
        *ngIf="node.problem !== undefined">
        {{node.problem === problemType.IMPOSSIBLE_BY_QUEUE ? 'Conflict' : 'Impossible'}}
      </span>
      <span
        class="app-single-line-text eta-date-text right-margin text-chip"
        [class.warning-lv-1]="etaWarningLevel === 1"
        [class.warning-lv-2]="etaWarningLevel === 2"
        *ngIf="node.problem === undefined && node.estimatedDoneDate !== undefined">
        Est. ({{getEstimatedDoneDateDeltaText()}})
        {{getEstimatedDoneDate() | date:'MMM d'}}
      </span>
      <span class="app-single-line-text cost-text"
            [innerHTML]="getCostHtml()"></span>
      <app-session-chip *ngIf="shouldDisplaySessionChip"></app-session-chip>
    </div>
    <ng-content select="[suffix]"></ng-content>
  </div>
</div>
