.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  width: 100%;
  flex: 1;
  margin-top: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.color-block {
  width: 5px;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  background-color: #88888844;
  padding: 0 5px;
}

.background {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.session-group {
  width: 100%;
}

.session-group-header {
  height: 25px;
  vertical-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8em;
  font-weight: bold;
  //background-color: #88888822;
  //border: 1px solid #88888844;
  padding: 0 5px;
  cursor: pointer;
}

.session-group-header-text {
  opacity: 0.65;
}

.right-margin {
  margin-right: 5px;
}

.session-group-header:hover {
  background-color: #88888844;
}

.session {
  height: 32px;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #88888833;
  cursor: pointer;
}

.container-faded {
  opacity: 0.75;
}

.faded {
  opacity: 0.75;
}

.session-icon {
  vertical-align: center;
  position: relative;
  top: 0.5em;
}

.session:hover {
  outline: 2px solid #55bbeaaa;
  outline-offset: -2px;
}

.toolbar {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}

.quota-text {
  box-sizing: border-box;
}

.header.is-today {
  background-color: #55bbea44;
}

.header.is-past {
  background-color: transparent;
}

.progress-bar {
  width: 100%;
  height: 2px;
  background-color: #88888811;
}

.progress-bar-filled {
  width: 0%;
  height: 100%;
  background-color: #55bbeaaa;
}

.date.is-past {
  color: #888888;
}

.date.is-today {
  font-weight: bold;
}

.date.is-start-of-month {
  color: #4488ff;
}

.date {
  margin-left: 5px;
  font-size: 0.9em;
}

.hfill {
  flex: 1;
  pointer-events: none;
}

.checkbox {
  color: #309aea;
  position: relative;
  bottom: 1px;
  right: 2px;
}

.checkbox:hover {
  color: #55bbea;
}

.checked {
  color: #88888899;
}

.checked:hover {
  color: #888888;
}

.no-pointer-event {
  pointer-events: none;
}

.session-group-list-container {
  margin-bottom: 10px;
}

.left-margin {
  margin-left: 5px;
}

.date-picker-input {
  font-size: 0.75em;
}
