@import '~@angular/material/theming';
@import '~material-design-icons/iconfont/material-icons.css';

@include mat-core();

// Add your desired themes to this map.
$themes-map: (
  main: (
    primary-base: $mat-indigo,
    accent-base: $mat-light-blue,
  ),
);

// Import the module and do the job:
@import '~angular-material-dynamic-themes/themes-core';
@include make-stylesheets($themes-map);

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

