<div class="container mat-app-background">
  <mat-toolbar>
    <div class="header-content">
      <mat-icon class="vir-icon">camera</mat-icon>
      <span class="title">VIR</span>
      <button mat-icon-button (click)="dataStore.undo()"
              matTooltip="Undo"
              [disabled]="!dataStore.canUndo()">
        <mat-icon>undo</mat-icon>
      </button>
      <button mat-icon-button (click)="dataStore.redo()"
              matTooltip="Redo"
              [disabled]="!dataStore.canRedo()">
        <mat-icon>redo</mat-icon>
      </button>
      <div class="small-space"></div>
      <mat-slide-toggle [(ngModel)]="enableDarkMode">
        <mat-icon class="dark-mode-icon">brightness_4</mat-icon>
      </mat-slide-toggle>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="content-container">
    <mat-sidenav mode="side" opened class="side-bar">
      <div class="side-bar-content">
        <div class="side-bar-header">
          <button mat-stroked-button
                  (click)="sideBarGoToToday()">
            Today
          </button>
          <button mat-icon-button
                  (click)="changeSideBarDate(-1)"
                  matTooltipPosition="above"
                  matTooltip="Previous Day">
            <mat-icon>chevron_left</mat-icon>
          </button>
          <button mat-icon-button
                  (click)="changeSideBarDate(1)"
                  matTooltipPosition="above"
                  matTooltip="Next Day">
            <mat-icon>chevron_right</mat-icon>
          </button>
          <mat-form-field class="flex-child date-picker">
            <input matInput [matDatepicker]="datePicker" disabled
                   [value]="getSideBarDate()"
                   class="date-picker-input"
                   (dateChange)="onSideBarDateChanged($event)">
            <mat-datepicker-toggle matSuffix [disabled]="false"
                                   [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker [disabled]="false"></mat-datepicker>
          </mat-form-field>
        </div>
        <app-day-view class="flex-child full-width" [dayID]="sideBarDayID">
        </app-day-view>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-tab-group color="accent" animationDuration="0ms" class="tab-group"
                     [(selectedIndex)]="selectedTabIndex"
                     (selectedTabChange)="onSelectedTabChange($event)">
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="tab-label">
              <mat-icon class="tab-label-icon">today</mat-icon>
              Timeline
            </span>
          </ng-template>
          <app-timeline #timelineTab>
          </app-timeline>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="tab-label">
              <mat-icon class="tab-label-icon">list</mat-icon>
              Items
            </span>
          </ng-template>
          <app-items #itemsTab>
          </app-items>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
