.container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content-container {
  flex: 1;
}

.side-bar {
  width: 300px;
}

.side-bar-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-bar-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px;
  box-sizing: border-box;
}

.right-margin {
  margin-right: 10px;
}

.large-right-margin {
  margin-right: 20px;
}

.hfill {
  flex: 1;
}

.flex-child {
  flex: 1;
  min-width: 0;
}

.date-picker {
  width: 100px;
}

.full-width {
  width: 100%;
}

.tab-group {
  height: 100%;
}

// Make tab fill height
.tab-group ::ng-deep .mat-tab-body-wrapper {
  flex-grow: 1;
}

.tab-group ::ng-deep .mat-tab-body.mat-tab-body-active {
  height: 100%;
}

.title {
}

.clock-time {
  font-size: 0.8em;
  font-weight: normal;
}

.clock-date {
  font-size: 0.8em;
  font-weight: normal;
  opacity: 0.6;
}

.small-space {
  width: 10px;
}

.vir-icon {
  margin-left: 10px;
  margin-right: 20px;
}

.dark-mode-icon {
  position: relative;
  top: 2px;
  margin-left: 5px;
}

.tab-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-label-icon {
  margin-right: 5px;
  position: relative;
  top: 1px;
}

.vertical-divider {
  height: 30px;
  margin: 0 15px;
}

.last-saved-time {
  margin-right: 5px;
  font-size: 0.65em;
  font-weight: normal;
  opacity: 0.3;
}

.alert-count-chip {
  color: #ffffff;
  font-size: 0.7em;
  border-radius: 100px;
  padding: 2px 5px;
  margin-left: 5px;
}

.primary-alert-count {
  background-color: #27b727;
}

.accent-alert-count {
  background-color: #4488ff;
}

.warn-alert-count {
  background-color: #cb3838;
}
