<div class="header">
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="content">
  <form class="form" (keydown)="onFormKeyDown($event)">
    <div class="full-width flex-row">
      <mat-form-field class="flex-child right-margin">
        <mat-label>Name</mat-label>
        <input #nameInput matInput name="name" [(ngModel)]="draft.name"/>
      </mat-form-field>
      <mat-checkbox name="completed" [(ngModel)]="completed">
        Completed
      </mat-checkbox>
    </div>
    <div class="full-width flex-row">
      <mat-form-field class="flex-child right-margin">
        <mat-label>Cost (Estimated sessions needed)</mat-label>
        <input matInput name="cost" [(ngModel)]="cost"/>
      </mat-form-field>
      <mat-form-field class="flex-child">
        <mat-label>Priority</mat-label>
        <input matInput name="priority" [(ngModel)]="priority"/>
      </mat-form-field>
    </div>
    <div class="full-width flex-row">
      <mat-form-field class="flex-child">
        <mat-label>Parent</mat-label>
        <input matInput name="parent" [(ngModel)]="parentItemKey"
               [matAutocomplete]="auto"/>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredParentKeys | async"
                      [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        <button type="button" *ngIf="parentItemKey !== ''" matSuffix
                mat-icon-button (click)="parentItemKey=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="full-width flex-row">
      <mat-form-field class="flex-child right-margin">
        <mat-label>Defer Date</mat-label>
        <input matInput [matDatepicker]="deferDatePicker"
               [value]="deferDate"
               (dateChange)="onDeferDateChanged($event)">
        <button type="button" matSuffix *ngIf="deferDate"
                mat-icon-button (click)="clearDeferDate()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-datepicker-toggle matSuffix
                               [for]="deferDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #deferDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="flex-child">
        <mat-label>Due Date</mat-label>
        <input matInput [matDatepicker]="dueDatePicker"
               [value]="dueDate"
               (dateChange)="onDueDateChanged($event)">
        <button type="button" matSuffix *ngIf="dueDate"
                mat-icon-button (click)="clearDueDate()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-datepicker-toggle matSuffix
                               [for]="dueDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #dueDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="full-width-field" *ngIf="dueDate">
      <mat-checkbox name="repeat" [(ngModel)]="repeatEnabled">
        Repeat
      </mat-checkbox>
      <div class="hfill"></div>
      <mat-label class="right-margin">Every</mat-label>
      <mat-form-field class="repeat-interval-field right-margin">
        <input matInput class="repeat-interval-input" name="repeatInterval"
               [(ngModel)]="repeatIntervalString" [disabled]="!repeatEnabled">
      </mat-form-field>
      <mat-form-field class="repeat-type-select">
        <mat-select name="repeatType" [(ngModel)]="repeatType"
                    [disabled]="!repeatEnabled">
          <mat-option *ngFor="let option of repeatTypeOptions"
                      [value]="option.type">{{option.displayName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="full-width-field bottom-margin" *ngIf="repeatType === 'week'">
      <mat-button-toggle-group multiple name="repeatDayOfWeek"
                               [(ngModel)]="draft.repeat.dayOfWeek">
        <mat-button-toggle *ngFor="let option of repeatDayOfWeekOptions"
                           [value]="option.value">
          {{option.dowDate | date:'E'}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="full-width-field">
      <mat-checkbox name="useParentColor" [(ngModel)]="useParentColor">
        Use parent color
      </mat-checkbox>
      <div class="hfill"></div>
      <div *ngIf="!useParentColor" class="color-container">
        <mat-label class="field-label">Color</mat-label>
        <div class="color-picker-container">
          <input [(colorPicker)]="colorString" [style.background]="colorString"
                 cpAlphaChannel="disabled" class="color-picker"/>
        </div>
        <button type="button" mat-icon-button (click)="setRandomColor()"
                matTooltip="Random"
                matTooltipPosition="above">
          <mat-icon>autorenew</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>
<div class="footer">
  <p *ngIf="!isAddingNewItem" class="id-text">ID: {{draft.id}}</p>
  <div class="hfill"></div>
  <p class="key-hint-text right-margin">ctrl + enter</p>
  <button mat-raised-button (click)="save()" color="primary">
    Save
  </button>
</div>
