<div class="container"
     appDroptarget
     [onDragReact]="onDragReact"
     [clearDragReact]="clearDragReact"
     (drop)="onDrop($event)">
  <div #decorationContainer class="decoration"
       (click)="onBodyClicked()">
  </div>
  <div class="inner-content">
    <div class="body">
      <mat-icon class="large-right-margin" color="primary">timelapse</mat-icon>
      <span class="value">
        <span>
          {{node.value}}
        </span>
      </span>
      <app-session-chip></app-session-chip>
      <span
        class="description app-single-line-text large-left-margin right-margin"
        [innerHTML]="node.displayHtml">
      </span>
    </div>
    <div class="right-margin"></div>
    <button mat-icon-button (click)="deleteRule()">
      <mat-icon>close</mat-icon>
    </button>
    <div class="right-margin"></div>
  </div>
</div>
